*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.body{
    background-color: #020341;
}


.container{
    width: 100%;
    height: 100%;
    background: #020341;
}
.menu ul{
    display: inline-flex;
    margin: 50px;
}
.menu ul li{
    list-style: none;
    margin: 0 20px;
    color: #b2b1b1;
    cursor: pointer;
}
.name{
    color: #9464e8 !important;
    font-size: larger;
    font-weight: bold;
    
}
.active{
    color: #19dafa !important;
}
.signup-btn{
    top: 40px;
    right: 80px;
    position: absolute;
    text-decoration: none;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#020341,#020341), radial-gradient(circle at top left, #fd00da, #19d7f8);
    background-origin: border-box;
    background-clip: content-box,border-box;
}
.signup-btn span{
    display: block;
    padding: 8px 22px;
}
.banner{
    width: 80%;
    height: 70%;
    top: 25%;
    left: 130px;
    position: absolute;
    color: #fff;
}
.apptext{
    width: 50%;
    float: left;
}
.apptext h1{
    font-size: 43px;
    width: 640px;
    position: relative;
    margin-left: 40px;
    
}
.apptext p{
    width: 650px;
    font-size: 15px;
    margin: 30px 0 30px 40px;
    line-height: 25px;
    color: #919191;

}
.appic{
    width: 50%;
    float: right;
}
.appic img{
    width: 100%;
    margin-top: 60px;
    margin-bottom: -20px;
    padding-left: 50px;
}
.playbtn{
    margin-left: 40px;
    display: inline-flex;
}
.playbtninner{
    height: 50px;
    width: 50px;
    border: 2px solid transparent;
    border-radius:50%;
    background-image: linear-gradient(#020341,#020341), radial-gradient(circle at top left, #fd00da, #19d7f8);
    background-origin: border-box;
    background-clip: content-box,border-box;
    text-align: center;
}
.playbtninner .fas{
    padding: 18px 0;
    font-size: 13px;
    cursor: pointer;
    color: rgb(231, 226, 226);
}
small{
    margin: auto 20px;
    cursor: pointer;
    font-size: 15px;
    color: #28a2fe;
    letter-spacing: 3px;
}
.quicklink{
    left: 0;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, #db1bf6, #19d7f8);
}
.quicklink ul{
    display: inline-flex;
    margin: 15px auto;
    text-align: center;

}
.quicklink ul li{
    list-style: none;
    margin: 0 50px;
    cursor: pointer;

}
.quicklink ul li .fab{
    font-size: 25px;
    color: #fcfcfc;
}
.quicklink ul li .fas{
    font-size: 25px;
    color: #ffffff;
}
.quicklink ul li p{
    font-size: 15px;
    margin-top: 10px;
    color: cornsilk;
}
.socialicon{
    right: 20px;
    bottom: 35px;
    position: absolute;
    
    
}
.socialicon ul li{
    list-style: none;
    margin-top: 15px;
    text-align: center;
}
.socialicon ul li a{
    color: #097bff;
    border-radius: 50%;
    border: 1px solid #097bff;
    padding: 5px;
    display: block;
}
